/*@media (min-width: 768px) {
  #civicrm-menu-nav {
    line-height: 0;
    text-align: left;
  }
  #civicrm-menu {
    display: inline-block;
  }
}*/
/* Fix for CiviCRM < 4.7.13 */
/*#civicrm-menu #crm-qsearch {
  background: transparent !important;
  border-right: 0;
}*/
