body.crm-menubar-visible.crm-menubar-over-cms-menu #toolbar-home,
body.crm-menubar-visible.crm-menubar-over-cms-menu #toolbar-menu {
  display: none;
}

@media (min-width: 768px) {

  body.crm-menubar-visible.crm-menubar-over-cms-menu #toolbar-user {
    visibility: hidden;
  }

  body.crm-menubar-visible.crm-menubar-over-cms-menu {
    padding-top: 40px !important;
  }

  body.crm-menubar-visible.crm-menubar-over-cms-menu #toolbar .toolbar-drawer {
    display: none !important;
  }

  body.toolbar.crm-menubar-visible.crm-menubar-below-cms-menu {
    padding-top: 70px !important;
  }
  body.toolbar.toolbar-drawer.crm-menubar-visible.crm-menubar-below-cms-menu {
    padding-top: 104px !important;
  }

  body.toolbar.crm-menubar-visible.crm-menubar-below-cms-menu #toolbar {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  body.toolbar.toolbar-drawer.crm-menubar-below-cms-menu #civicrm-menu {
    top: 64px !important;
  }

}

@media (max-width: 768px) {

  body.toolbar.crm-menubar-visible.crm-menubar-below-cms-menu #toolbar-home {
    visibility: hidden;
  }

  body #civicrm-menu-nav .crm-menubar-toggle-btn {
    margin-top: 0;
  }

}
