@media (min-width: 768px) {

  body.crm-menubar-below-cms-menu {
    margin-top: 30px;
  }

}
@media (max-width: 768px) {

  body #civicrm-menu-nav {
    position: absolute;
  }

  body #civicrm-menu-nav .crm-menubar-toggle-btn {
    margin-top: 3px;
    margin-left: 6px;
  }

}
