/* Your rules to style the menu in mobile view (collapsible mode) here... */


@media (min-width: 768px) {

  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .sm-civicrm ul{position:absolute;width:12em;}
  .sm-civicrm li{float:left;}
  .sm-civicrm.sm-rtl li{float:right;}
  .sm-civicrm ul li,.sm-civicrm.sm-rtl ul li,.sm-civicrm.sm-vertical li{float:none;}
  .sm-civicrm a{white-space:nowrap;}
  .sm-civicrm ul a,.sm-civicrm.sm-vertical a{white-space:normal;}
  .sm-civicrm .sm-nowrap > li > a,.sm-civicrm .sm-nowrap > li > :not(ul) a{white-space:nowrap;}
  /* ...end */


  /* Your rules to style the menu in desktop view here... */

.sm-civicrm li{
	padding:3px 10px;
}
#civicrm-menu-nav {
  line-height: 0;
  text-align: left;
}
#civicrm-menu {
  display: inline-block;
}
#civicrm-menu {
	background-color: #333;
	width: 100% !important;
}
#civicrm-menu a {
	color: #fff;
}
.sm-civicrm li {
	padding: 0;
}
.sm-civicrm li a {
	padding: 6px 8px;
}
.sm-civicrm li li a {
	padding: 6px 36px 6px 10px;
}
.sm-civicrm ul {
	background-color: #333;
}
.sm-civicrm ul ul {
	background-color: #444;
}
.sm-civicrm ul ul ul {
	background-color: #555;
}
.sm-civicrm li.menu-separator {
	border-bottom: 1px solid #cdcdcd;
	padding: 0;
	margin: 5px 0;
}
.sm-civicrm li a:focus,
.sm-civicrm li a:hover {
	text-decoration: none;
	background-color: #666;
}
.sm-civicrm li li .sub-arrow::after {
    content: "\f061";
	font-family: 'FontAwesome';
	color: #fff;
	float: right;
	margin-right: -25px;
}
.sm-civicrm ul li:last-child a{
	margin-bottom: 5px;
}
.sm-civicrm ul > li:first-child a{
	margin-top: 5px;
}
@media (max-width: 768px) {
	.sm-civicrm li a {
		text-align: center;
		font-size: 14px;
	}
	.sm-civicrm li .sub-arrow::after,
	.sm-civicrm li li .sub-arrow::after{
		content: "\f063";
		font-family: 'FontAwesome';
		color: #fff;
		float: none;
		margin-left: 10px;
	}
}
