/* Your rules to style the menu in mobile view (collapsible mode) here... */

#civicrm-menu-nav {
  line-height: 0;
  text-align: left;
}
#civicrm-menu {
  display: inline-block;
	background-color: #333;
	width: 100% !important;
  height: auto;
}
#civicrm-menu a,
label.crm-quickSearchField {
  color: #fff;
}
.sm-civicrm li {
	padding: 0;
}
.sm-civicrm li a {
	padding: 6px 8px;
}
.sm-civicrm li li a {
	padding: 6px 36px 6px 10px;
}
.sm-civicrm ul {
	background-color: #333;
}
.sm-civicrm ul ul {
	background-color: #444;
}
.sm-civicrm ul ul ul {
	background-color: #555;
}
.sm-civicrm li.menu-separator {
	border-bottom: 1px solid #cdcdcd;
	padding: 0;
	margin: 5px 0;
}
.sm-civicrm li a:focus,
.sm-civicrm li a:hover {
	text-decoration: none;
	background-color: #676767;
}
.sm-civicrm li li .sub-arrow::after {
    content: "\f061";
	font-family: 'FontAwesome';
	color: #fff;
	float: right;
	margin-right: -25px;
}
.sm-civicrm ul li:last-child a{
	margin-bottom: 5px;
}
.sm-civicrm ul > li:first-child a{
	margin-top: 5px;
}
/* x icon */
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  height: 0;
  background: transparent;
}
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* hide menu state checkbox (keep it visible to screen readers) */
#main-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
}
/* hide the menu in mobile view */
#main-menu-state:not(:checked) ~ #civicrm-menu {
  display: none;
}
#main-menu-state:checked ~ #civicrm-menu {
  display: block;
}
.main-menu-btn {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  text-indent: 28px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* responsive icon */

.main-menu-btn-icon, .main-menu-btn-icon:before, .main-menu-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 2px;
  height: 2px;
  width: 24px;
  background: #bbb;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.main-menu-btn-icon:before {
  content: '';
  top: -7px;
  left: 0;
}
.main-menu-btn-icon:after {
  content: '';
  top: 7px;
  left: 0;
}

/* Quicksearch */
li#crm-qsearch ul {
  padding: 5px 10px;
}

/* Hide the 1px "line" shown in the collapsed quicksearch */
#quickSearch div input.crm-form-submit.default {
  border: 0 transparent;
  background-color: transparent;
}

/* From css/civicrmNavigation.css */
#civicrm-menu .crm-logo-sm,
.crm-container .crm-logo-sm {
  background: url(LOGO_URL) no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

@media (min-width: 768px) {

  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .sm-civicrm ul{position:absolute;width:12em;}
  .sm-civicrm li{float:left;}
  .sm-civicrm.sm-rtl li{float:right;}
  .sm-civicrm ul li,.sm-civicrm.sm-rtl ul li,.sm-civicrm.sm-vertical li{float:none;}
  .sm-civicrm a{white-space:nowrap;}
  .sm-civicrm ul a,.sm-civicrm.sm-vertical a{white-space:normal;}
  .sm-civicrm .sm-nowrap > li > a,.sm-civicrm .sm-nowrap > li > :not(ul) a{white-space:nowrap;}
  /* ...end */

  /* Your rules to style the menu in desktop view here... */

  /* hide the button in desktop view */
  .main-menu-btn {
    position: absolute;
    top: -99999px;
  }
  /* always show the menu in desktop view */
  #main-menu-state:not(:checked) ~ #civicrm-menu {
    display: block;
  }
}

@media (max-width: 768px) {
	.sm-civicrm ul {
		background-color: #444;
	}
	.sm-civicrm ul ul {
		background-color: #555;
	}
	.sm-civicrm ul ul ul {
		background-color: #666;
	}
	.sm-civicrm li a {
		text-align: center;
		font-size: 14px;
	}
	.sm-civicrm li .sub-arrow::after,
	.sm-civicrm li li .sub-arrow::after{
		content: "\f063";
		font-family: 'FontAwesome';
		color: #fff;
		float: none;
		margin-left: 10px;
	}
  #civicrm-menu-nav {
    position: absolute;
    background: #222;
    top: 0px;
    height: 35px;
    z-index: 100000;
    width: 100%;
  }
  .main-menu-btn {
    margin-left: 20px;
  }
  #civicrm-menu {
    margin-top: 30px;
  }
  #crm-qsearch {
    text-align: center;
  }
}
